<%= form_for @post do |f| %>

<div class="field">
  <%= f.label :title, '제목' %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :content, '내용' %>
  <%= f.text_area :content %>
</div>

<%= f.submit '작성' %>

<% end %>
